{extend name="layouts/master" /}

{block name="admin-css"}
    <!-- 提示插件 -->
    {include file="layouts/gritter_and_delete_css" /}
{/block}

{block name="admin-content"}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-left">
            <li><a href="/admin">首页</a></li>
            <li class="active">管理员列表</li>
        </ol>
        <!-- end breadcrumb -->
        
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="table-basic-5">
                    <div class="panel-heading">
                        {include file="layouts/panel-btn" /}
                        <h4 class="panel-title">管理员列表</h4>
                    </div>
                    <div class="panel-body">
                        <a href="{:url('admin/admin/create')}">
                            <button type="button" class="btn btn-primary m-r-5 m-b-5"><i class="fa fa-plus-square-o"></i> 新增</button>
                        </a>
                        <form>
                            <table class="table table-bordered form-group">
                                <tr>
                                    <th><input class="form-control" type="text" name="name" placeholder="管理员名称" value="{:input('get.name','')}"/></th>
                                    <th><input class="form-control" type="text" name="email" placeholder="管理员邮箱" value="{:input('get.email','')}"/></th>
                                    <th>
                                        <select name="status" class="form-control">
                                            <option value="" {if input('get.status','') == ''} selected="selected" {/if}>状态</option>
                                            <option value="1" {if input('get.status','') == '1'} selected="selected" {/if}>可用</option>
                                            <option value="0" {if input('get.status','') == '0'} selected="selected" {/if}>不可用</option>
                                        </select>
                                    </th>
                                    <th><button type="submit" id="search_btn" class="btn btn-primary m-r-5 m-b-5">查询</button></th>
                                </tr>
                            </table> 
                        </form>                        
                        <table class="table table-bordered table-hover" id="datatable">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>名称</th>
                                    <th>邮箱</th>
                                    <th>头像</th>
                                    <th>角色</th>
                                    <th>状态</th>
                                    <th>添加时间</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $list as $key=>$vo } 
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.email}</td>
                                        <td><img src="{$vo.headimg}" /></td>
                                        <td>{$vo.role_id|get_role_title}</td>
                                        <td>{$vo.status|get_status_title}</td>
                                        <td>{$vo.created_at}</td>
                                        <td>{$vo.updated_at}</td>
                                        <td>
                                            <a href="{:url('admin/admin/edit',['id'=>$vo.id])}"><button type="button" class="btn btn-success btn-xs"><i class="fa fa-pencil"> 编辑</i></button></a>
                                            {if $admin['id'] != $vo['id']}
                                            <a href="javascript:;" data-id="{$vo.id}" class="btn btn-danger btn-xs destroy">
                                                <i class="fa fa-trash"> 删除</i>
                                                <form action="{:url('admin/'.$vo.id)}" method="POST" name="delete_item_{$vo.id}" style="display:none">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                </form>
                                            </a>
                                            {/if}
                                        </td>
                                    </tr>                                    
                                {/foreach}
                            </tbody>
                        </table>
                        {$list|Raw}
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
{/block}

{block name="admin-js"}
    <!-- 提示插件 -->
    {include file="layouts/gritter_and_delete_js" /}
{/block}