<div id="sidebar" class="sidebar sidebar-transparent">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="{$admin.headimg}" alt="" /></a>
                </div>
                <div class="info">
                    {$admin.name}
                    <small>{$admin.email}</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->

        <!-- begin sidebar nav -->
        <ul class="nav">
            <?php if(!empty($adminMenus)):?>
            <?php foreach($adminMenus as $adminMenu):?>
            <li class="has-sub">
                <a href="javascript:;">
                    <?php if(isset($adminMenu['child'])):?>
                    <b class="caret pull-right"></b>
                    <?php endif;?>

                    <?php if(!empty($adminMenu['class'])):?>
                    <i class=""></i>
                    <?php endif;?>

                    <span>{$adminMenu['name']}</span>
                </a>

                <?php if(isset($adminMenu['child'])):?>
                <ul class="sub-menu">
                    <?php foreach($adminMenu['child'] as $menus):?>
                    <li class="has-sub <?php if($menus['url'] == \Request::path()):?> active <?php endif;?> ">
                        <a href="{:url($menus['url'])}">
                            <!-- <?php if(isset($menus['child'])):?>
                            <b class="caret pull-right"></b>
                            <?php endif;?> -->
                            {$menus['name']}
                        </a>
                    </li>
                    <?php endforeach;?>
                </ul>
                <?php endif;?>
            </li>
            <?php endforeach;?>
            <?php endif;?>

            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->

    </div>
    <!-- end sidebar scrollbar -->
</div>
<script>
    var activeNode = $('.active');
    activeNode.parents('li').addClass('active');
</script>