{extend name="layouts/master" /}

{block name="admin-css"}
    <link href="/asset_admin/assets/plugins/croppic/assets/css/croppic.css" rel="stylesheet" type="text/css"/>
{/block}

{block name="admin-content"}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-left">
            <li><a href="/admin">首页</a></li>
            <li class="active"><a href="{:url('admin/manager/setting')}">管理员设置</a></li>
        </ol>
        <!-- end breadcrumb -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="table-basic-5">
                    <div class="panel-heading">
                        {include file="layouts/panel-btn" /}
                        <h4 class="panel-title">管理员设置</h4>
                    </div>
                    {include file="layouts/flash" /}
                    <div class="panel-body">
                        <a href="{:url('admin/manager/changePwd')}">
                            <button type="button" class="btn btn-primary m-r-5 m-b-5"><i class="fa fa-plus-square-o"></i> 修改密码</button>
                        </a>

                        <table class="table table-bordered table-hover" id="datatable">
                            <tr>
                                <th>名称：</th>
                                <td>{$admin.name}</td>
                            </tr>
                            <tr>
                                <th>邮箱：</th>
                                <td>{$admin.email}</td>
                            </tr>      
                            <tr>
                                <th>头像：</th>
                                <td>
                                    <div id="croppic" title="修改头像"></div>
                                    <input type="hidden" name="headimg" id="headimg" value="">
                                </td>
                            </tr>                                                           
                        </table>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
{/block}

{block name="admin-js"}
    <script src="/asset_admin/assets/plugins/croppic/assets/js/jquery.mousewheel.min.js"></script>
    <script src="/asset_admin/assets/plugins/croppic/assets/js/croppic.min.js"></script>

    <script>
        var eyeCandy = $('#croppic');
        <?php if(!empty($admin['headimg'])):?>
            eyeCandy.css({'background-image':'url(<?php echo $admin['headimg'];?>)'});
        <?php endif;?>
        
        var croppedOptions = {
            uploadUrl: "{:url('admin/common/upload')}",
            cropUrl: "{:url('admin/common/handle')}",
            outputUrlId:'headimg',
            onAfterImgCrop:function(){ 
                var headimg_url = $('#headimg').val();
                if(headimg_url.length > 0){
                    $.post(
                        "/admin/saveHeadimg.html",
                        {headimg:headimg_url},
                        function(result){
                            if(result.code == 0 ){
                                window.location = "/admin/manager.html";
                            }
                        }
                    );
                }
            },
            cropData:{
                'width' : eyeCandy.width(),
                'height': eyeCandy.height()
            }
        };
        var cropperBox = new Croppic('croppic', croppedOptions);
        cropperBox.reset()
    </script>
{/block}