{extend name="layouts/master" /}

{block name="admin-css"}
    <!-- 提示插件 -->
    {include file="layouts/gritter_and_delete_css" /}
{/block}

{block name="admin-content"}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-left">
            <li><a href="/admin">首页</a></li>
            <li class="active">权限列表</li>
        </ol>
        <!-- end breadcrumb -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="table-basic-5">
                    <div class="panel-heading">
                        {include file="layouts/panel-btn" /}
                        <h4 class="panel-title">权限列表</h4>
                    </div>
                    <div class="panel-body">
                        <a href="{:url('admin/privilege/create')}">
                            <button type="button" class="btn btn-primary m-r-5 m-b-5"><i class="fa fa-plus-square-o"></i> 新增</button>
                        </a>

                        <table class="table table-bordered table-hover" id="data_table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>权限</th>
                                    <th>描述</th>
                                    <th>菜单显示</th>
                                    <th>添加时间</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {foreach $list as $key=>$vo }
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{:str_repeat('&nbsp;',$vo['level']*5)}{$vo.name}</td>
                                        <td>{$vo.flag}</td>
                                        <td>{$vo.desc}</td>
                                        <td>{if $vo['is_menu'] == 0}否{else /}是{/if}</td>
                                        <td>{$vo.created_at}</td>
                                        <td>{$vo.updated_at}</td>
                                        <td>
                                            <a href="{:url('admin/privilege/edit',['id'=>$vo.id])}"><button type="button" class="btn btn-success btn-xs"><i class="fa fa-pencil"> 编辑</i></button></a>

                                            <a href="javascript:;" data-id="{$vo.id}" class="btn btn-danger btn-xs destroy">
                                                <i class="fa fa-trash"> 删除</i>
                                                <form action="{:url('admin/privilege/'.$vo.id)}" method="POST" name="delete_item_{$vo.id}" style="display:none">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                </form>
                                            </a>
                                        </td>
                                    </tr>                                    
                                {/foreach}                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
{/block}

{block name="admin-js"}
    <!-- 提示插件 -->
    {include file="layouts/gritter_and_delete_js" /}
{/block}